.my-board {
    text-decoration: none !important;
    color: #42526e !important;
}

.button-invite-member {
    background-color: #026aa7;
    border-radius: 3px;
}

.NameProject:hover{
    border-radius:5px !important

}

.hover :hover{
    background-color:   #e6eaee !important;
    cursor: pointer !important;
}



.css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar:hover{
    background-color:red;

}

.Select{
    padding:5px;
    border:none;
    background-color:#f6f6f6
}

.removeMemberInBoard{
    color: #b47979;
    font-size:20px;

}
.removeMemberInBoard:hover{
    color: #c72020;

}



