.my-board {
    text-decoration: none !important;
    color: #42526e !important;
}

.button-invite-member {
    background-color: #026aa7;
    border-radius: 3px;
}

.NameProject:hover{
    border-radius:5px !important

}

.hover :hover{
    background-color:   #e6eaee !important;
    cursor: pointer !important;
}



.css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar:hover{
    background-color:red;

}

.selectRole :hover{
    background-color: #b4b4b6 !important;
}

.invite:hover{
    background-color:#B4B4B6FF !important;
}


